.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 310px;
}
.iconsWrapper {
  display: flex;
  justify-content: space-between;
}
.facesContainer {
  margin-bottom: 70px;
}
.facesHeader {
  width: 263px;
  margin: auto auto 40px;
}
.iconPassive g {
  fill: #e4ecf4;
}
.iconText {
  width: 45px;
  height: 13px;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #d3dfeb;
}
.iconActive g {
  fill: #ff9d76;
}
