.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 256px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.langSelector {
    position: absolute;
    top: 20px;
    right: 20px;
}
.logo {
    height: 80px;
    margin-top: 30px;
}

.title {
    margin-top: 15px;
    font-size: 21px;
    font-weight: 700;
}
.subTitle {
    margin-top: 7px;
    font-size: 15px;
}
